.caracteristicas {
    margin-top: 140px;
    margin-bottom: 100px;
}

.caracteristicas .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* PREVIEWS */
.caracteristicas .grid .previews {
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}
.caracteristicas .grid .previews .thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    vertical-align: top;
    transition: 0.5s ease all;
}
.caracteristicas .grid .previews .thumb.active {
    opacity: 1;
}

/* TABS */
.caracteristicas .grid .tabs {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
.caracteristicas .grid .tabs .tab {
    background: #fff;
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto 1fr;
    cursor: pointer;
    overflow: hidden;
}
.caracteristicas .grid .tabs .tab.active {
    background: var(--azul-primario);
    color: #fff;
}
.caracteristicas .grid .tabs .tab.active .icono {
    color: #fff;
}

/* ICONO */
.caracteristicas .grid .tabs .tab .icono {
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: var(--azul-primario);
}
.caracteristicas .grid .tabs .tab .icono svg {
    width: 30px;
    height: 30px;
}

/* INFO */
.caracteristicas .grid .tabs .tab .info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
