.hero {
    background: #2566E3;
    background: linear-gradient(90deg,rgba(37, 102, 227, 1) 50%, rgba(31, 187, 140, 1) 80%);
    display: grid;
    grid-template-columns: 55% 45%;
    gap: 20px;
    border-radius: 20px;
    color: #fff;
    position: relative;
    z-index: 1;
    padding: 50px;

    width: 90%;
    max-width: 1200px;
    margin: auto;

    .col-1 {
        display: flex;
        flex-direction: column;
        gap: 40px;

        .titulo {
            font-size: 48px;
            font-weight: 400;
            text-align: left;
            margin: 0;
        }

        .descripcion {
            font-size: 18px;
            line-height: 160%;
        }

        .botones {
            display: flex;
            gap: 10px;

            .transparente {
                background: rgba(0, 0, 0, 0.2);
                padding: 15px;
                &:hover {
                    background: rgba(0, 0, 0, 0.4);
                }
            }

            .secundario {
                background: var(--azul-secundario);
                border: 1px solid transparent;
                &:hover {
                    border: 1px solid rgba(255, 255, 255, 0.5);
                }
            }

        }

        .estadisticas {
            display: flex;
            align-items: center;
            gap: 40px;
            font-size: 22px;
            font-weight: 500;

            p {
                display: flex;
                gap: 10px;
                align-items: center;

                &:nth-child(1) {
                    padding-right: 40px;
                    border-right: 1px solid #fff;
                }
            }

            .icono {
                display: block;
                width: 24px;
                height: 24px;

                svg {
                    width: 100%;
                    height: 100%;
                }
            }
        }

    }

    .col-2 {
        position: relative;

        .slideshow {
            /* position: absolute; 
            top: -20px; */
            position: relative;
            width: 100%;
            overflow: hidden;
            border-radius: 10px;
            padding-bottom: 40px; 

            .slides {
                display: flex;
                flex-wrap: nowrap;

                .slide {
                    min-width: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        vertical-align: top; 
                    }
                }
            }

            .indicadores {
                width: 100%;
                display: flex;
                justify-content: center;
                gap: 10px;
                position: absolute;
                bottom: 20px;
                left: 0;


                .indicador {
                    width: 25px;
                    height: 6px;
                    border: none;
                    background: rgba(255, 255, 255, 0.3);
                    transition: 0.3s ease all;
                    border-radius: 10px;

                    &:hover {
                        background: rgba(255, 255, 255, 0.5);
                    }

                    &.active {
                        background: rgba(255, 255, 255, 1);
                    }

                }
            }
        }
    }

    .overlay-video {
        background: rgba(0, 0, 0, 0.9);
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: none;
        align-items: center;
        justify-content: center;
        
        &.active {
            display: flex;
        }

        .video {
            width: 90%;
            max-width: 900px;
            /* background: #fff; */

            iframe {
                width: 100%;
                vertical-align: top;
                aspect-ratio: 16/9;
            }
        }
    }

}



